# Unity proje klasörü: "The Game"

# Unity tarafından oluşturulan klasörler
Knave Engine Test/[Ll]ibrary/
Knave Engine Test/[Tt]emp/
Knave Engine Test/[Oo]bj/
Knave Engine Test/[Bb]uild/
Knave Engine Test/[Bb]uilds/
Knave Engine Test/[Ll]ogs/
Knave Engine Test/[Uu]ser[Ss]ettings/

# Bellek yakalamaları (büyük olabilir ve hassas veriler içerebilir)
Knave Engine Test/[Mm]emoryCaptures/

# Kayıtlar (aşırı büyük olabilir)
Knave Engine Test/[Rr]ecordings/

# Asset Store araçları (kullanılmıyorsa açılabilir)
/Knave Engine Test/[Aa]ssets/AssetStoreTools*

# JetBrains Rider eklentisi
Knave Engine Test/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio dosyaları
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Meta dosyalar
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Çökme raporu dosyası
sysinfo.txt

# Build dosyaları
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Crashlytics dosyası
crashlytics-build.properties

# Packed Addressables
The Game/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Geçici otomatik Android dosyaları
The Game/[Aa]ssets/[Ss]treamingAssets/aa.meta
